@font-face {
	font-family: 'Code-Icons';
	src: url('#{$ci-fonts-path}/Code-Icons.eot?#iefix');
	src: url('#{$ci-fonts-path}/Code-Icons.eot?') format('embedded-opentype'),
		url('#{$ci-fonts-path}/Code-Icons.woff?') format('woff'),
		url('#{$ci-fonts-path}/Code-Icons.ttf?') format('truetype'),
		url('#{$ci-fonts-path}/Code-Icons.svg?#Code-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}