$ci-fonts-path: "../../fonts" !default;
$ci-css-prefix: ci !default;


$ci-var-tool-atom: "f000";
$ci-var-tool-brackets: f001;
$ci-var-tool-codepen: f002;
$ci-var-tool-jetbrains-appcode: f003;
$ci-var-tool-jetbrains-CLion: f004;
$ci-var-tool-jetbrains-intellij: f005;
$ci-var-tool-jetbrains-phpstorm: f006;
$ci-var-tool-jetbrains-pycharm: f007;
$ci-var-tool-jetbrains-resharper: f008;
$ci-var-tool-jetbrains-rubymine: f009;
$ci-var-tool-jetbrains-webstorm: f00a;
$ci-var-tool-jsfiddle: f00b;
$ci-var-tool-sublime: f00c;
$ci-var-apache: f00d;
$ci-var-cherokee: f00e;
$ci-var-lighttpd: f00f;
$ci-var-nginx: f010;
$ci-var-node: f011;
$ci-var-tomcat: f012;
$ci-var-coffeescript: f013;
$ci-var-css3: f014;
$ci-var-html5: f015;
$ci-var-java: f016;
$ci-var-JS: f017;
$ci-var-less: f018;
$ci-var-lua: f019;
$ci-var-php: f01a;
$ci-var-python: f01b;
$ci-var-ruby: f01c;
$ci-var-sass: f01d;
$ci-var-scala: f01e;
$ci-var-stylus: f01f;
$ci-var-host-aws: f020;
$ci-var-host-digitalocean: f021;
$ci-var-host-dotcloud: f022;
$ci-var-host-heroku: f023;
$ci-var-host-openshift: f024;
$ci-var-host-webfaction: f025;
$ci-var-fw-lift: f026;
$ci-var-fw-rails: f027;
$ci-var-fw-django: f028;
$ci-var-fw-web2py: f029;
$ci-var-fw-cake: f02a;
$ci-var-fw-codeigniter: f02b;
$ci-var-fw-laravel: f02c;
$ci-var-fw-symfony: f02d;
$ci-var-fw-yii: f02e;
$ci-var-fw-zend: f02f;
$ci-var-fw-angular: f030;
$ci-var-fw-backbone: f031;
$ci-var-fw-derby: f032;
$ci-var-fw-ember: f033;
$ci-var-fw-jquery: f034;
$ci-var-fw-jquery-ui: f035;
$ci-var-fw-meteor: f036;
$ci-var-fw-react: f037;
$ci-var-fw-hibernate: f038;
$ci-var-fw-play: f039;
$ci-var-fw-spring: f03a;
$ci-var-fw-wicket: f03b;
$ci-var-fw-bootstrap: f03c;
$ci-var-fw-foundation: f03d;
$ci-var-fw-semantic: f03e;
$ci-var-db-cassandra: f03f;
$ci-var-db-couchdb: f040;
$ci-var-db-mongodb: f041;
$ci-var-db-mysql: f042;
$ci-var-db-neo4j: f043;
$ci-var-db-postgres: f044;
$ci-var-db-redis: f045;
$ci-var-db-sqlite: f046;
$ci-var-os-android: f047;
$ci-var-adb: f048;
$ci-var-layout: f049;
$ci-var-layers: f04a;
$ci-var-browser: f04b;
$ci-var-window: f04c;
$ci-var-terminal: f04d;
$ci-var-code: f04e;
$ci-var-bitcoin: f04f;
$ci-var-tool-stack-overflow: f050;
$ci-var-bitbucket: f051;
$ci-var-bitbucket-square: f052;
$ci-var-os-linux: f053;
$ci-var-bug: f054;
$ci-var-openid: f055;
$ci-var-fw-drupal: f056;
$ci-var-fw-joomla: f057;
$ci-var-git-square: f058;
$ci-var-git: f059;
$ci-var-meanpath: f05a;
$ci-var-code2: f05b;
$ci-var-database: f05c;
$ci-var-smashing: f05d;
$ci-var-cloud: f05e;
$ci-var-bug2: f05f;
$ci-var-database2:  f060;
$ci-var-database3: f061;
$ci-var-file-binary: f062;
$ci-var-file-code: f063;
$ci-var-gist: f064;
$ci-var-git-branch: f065;
$ci-var-git-commit: f066;
$ci-var-git-compare: f067;
$ci-var-git-merge: f068;
$ci-var-git-pull-request: f069;
$ci-var-markdown: f06a;
$ci-var-organization: f06b;
$ci-var-package: f06c;
$ci-var-repo: f06d;
$ci-var-repo-clone: f06e;
$ci-var-repo-force-push: f06f;
$ci-var-repo-forked: f070;
$ci-var-repo-pull: f071;
$ci-var-repo-push: f072;
$ci-var-split: f073;
$ci-var-terminal2: f074;
$ci-var-github: f075;
$ci-var-github-octoface-1: f076;
$ci-var-github-octoface-2: f077;
$ci-var-github2: f078;
$ci-var-github3: f079;
$ci-var-fw-wordpress-round: f07a;
$ci-var-fw-wordpress-square: f07b;
$ci-var-os-linux-tux: f07c;
$ci-var-os-mac: f07d;
$ci-var-os-mac-finder: f07e;
$ci-var-os-windows: f07f;
$ci-var-os-windows8: f080;
$ci-var-tool-stackoverflow: f081;
$ci-var-git2: f082;
$ci-var-svg: f083;
$ci-var-bw-chrome: f084;
$ci-var-bw-firefox: f085;
$ci-var-bw-IE: f086;
$ci-var-bw-opera: f087;
$ci-var-bw-safari: f088;
$ci-var-database4: f08c;